<form action="http://itp.nyu.edu/~zr279/sinatra/blog/blog/save" method="POST">
  <p><input type="text" name="title" value="Write your title here" /></p>
  <p><textarea name="body">Write your blog post here</textarea></p>
  <p><input type="submit" value="Save your post" /></p>
</form>