<form action="http://itp.nyu.edu/~zr279/sinatra/blogs/<%=@id%>/edit" method="POST">

<label>Enter title here:</label><input type="text" name="title" />

</br>

<label>Enter entry content here:</label>
</br>
<textarea name="body"></textarea>
</br>
<input type="submit" value="submit">

</form>