<h1><%=@entry.title%></h1>
</br>
<%=@entry.body%>
</br>
<a href="http://itp.nyu.edu/~zr279/sinatra/blogs/<%=@entry.id%>/edit">Edit Entry</a>
<a href="http://itp.nyu.edu/~zr279/sinatra/blogs/">Go home</a>