<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload Image</h1>
        
        <form action="http://itp.nyu.edu/~zr279/sinatra/processingExamples/save_image" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload image">
        </form>
    </body>
</html>