<html>
    <head>
        <title>Show Image</title>
    </head>
    <body>
        <h1>See Image</h1>
        <img src="http://itp.nyu.edu/~zr279/sinatra/processingExamples/public/images/<%= @filename %>" />
    </body>
</html>