<html>
	<head>
		<title>Company Structure</title>
	</head>
	<body>

	<form action="http://itp.nyu.edu/~irs221/sinatra/company/create_employee" method="POST">
  	<p><label>First name:</label> <input type="text" name="fname" /></p>
  	<p><label>Last name:</label> <input type="text" name="lname" /></p>
  	<p><label>Position:</label> <input type="text" name="position" /></p>
  	<p><input type="submit" value="create" /></p>
	</form>

	</body>
</html>