  <form action="http://itp.nyu.edu/~zr279/sinatra/advancedatamapper/save_info" method="POST">
  
    <p><label>First Name:</label> <input type="text" name="fname" /></p>
    <p><label>Last Name:</label> <input type="text" name="lname" /></p>
  
    <p><label>Do you like cats?</label>
      Yes <input type="radio" name="catlover" value="true" />
      No <input type="radio" name="catlover" value="false" />
    </p>
  
    <p><label>How many pets do you have?</label> <input type="text" name="pets" /></p>
  
    <p><input type="submit" value="Go" /></p>
  </form>
