<html>
    <head>
        <title>Registration</title>
        <link href="http://itp.nyu.edu/~rsm347/sinatra/datamapper_advanced/public/mystyles.css" rel="stylesheet" type="text/css" /
    </head>
    <body>
        <%= yield %>
    </body>
</html>