<form action="http://itp.nyu.edu/~rsm347/sinatra/datamapper_advanced/save" method="POST">
    <p>Name:</p>
    <input type="text" name="name" />
    
    <p>Age:</p>
    <input type="text" name="age" />
    
    <input type="submit" />
</form>