<form action="http://itp.nyu.edu/~irs221/sinatra/conditionals/conditional_greeting" method="GET">
	<p><label>Enter your name:</label> <input type="text" name="yourname" /></p>
  <p><input type="submit" value="Go" /></p>
</form>