<!DOCTYPE html>
<html>
  <head>
    <title>Example Site with Views</title>
    <link type="text/css" rel="stylesheet" href="/~irs221/sinatra/views/public/styles.css"/>
  </head>
  
  <body>
    <ul id="nav" class="menu">
      <li><a href="/~irs221/sinatra/views/home">Home</a></li>
      <li><a href="/~irs221/sinatra/views/about">About</a></li>
      <li><a href="/~irs221/sinatra/views/details">Hours & Directions</a></li>
      <li><a href="/~irs221/sinatra/views/work">Work</a></li>
      <li><a href="/~irs221/sinatra/views/contact">Contact</a></li>
    </ul>
    
    <br/><br/>
    
    <div id="main-canvas">
      <h2><%= @title %></h2>
      
      <p class="red-text"> Hi there 1</p>
      <p class="red-text"> Hi there 2</p>
      <p> I'm also a paragraph </p>
      
    </div>
</html>
