<form action="http://itp.nyu.edu/~zr279/sinatra/blog/blog/<%=@id%>/edit" method="POST">
  <p><input type="text" name="title" value="<%=@updatePost.title%>" /></p>
  <p><textarea name="body">Update your post</textarea></p>
  <p><input type="submit" value="Save your post" /></p>
</form>