<html>
    <head>
        <title>Show Image</title>
    </head>
    <body>
        <h1>See Image</h1>
        <img src="http://itp.nyu.edu/~rsm347/sinatra/image_upload/public/<%= @filename %>" />
    </body>
</html>