<html>
    <head>
        <title>Runes Blog</title>
    </head>
    <body>
        <h1>Hello</h1>
        <a href="http://itp.nyu.edu/~rsm347/sinatra/myblog/blog">Go to the blog</a>
    </body>    
<html>