<form action="http://itp.nyu.edu/~zr279/sinatra/week2/check" method="POST">

    <label>Check if you like Ruby/Sinatra</label>
    
    <input type="checkbox" name="check1" value="1" />
    <input type="checkbox" name="check2" value="1" />
    <input type="checkbox" name="check3" value="1" />

    <input type="submit" value="submit">

</form>