<form action="http://itp.nyu.edu/~zr279/sinatra/week2/yesno" method="POST">

    <label>Yes</label>
    
    <input type="radio" name="question"
    value="yes" />
    
    <label>No</label>
    
    <input type="radio" name="question"
    value="no" />
    
    <input type="submit" value="submit">

</form>