<html>
	<head>
		<title>Advanced Returning User</title>
	</head>
	<body>

		<% for visitor in @visitors %>
			<p>Name: <%= visitor.fname %> <%= visitor.lname %></p>
      <p> ___________________ </p>
		<% end %>

	</body>
</html>

