<html>
	<head>
		<title>Advanced Returning User</title>
	</head>
	<body>

		<form action="http://itp.nyu.edu/~irs221/sinatra/returning_user_advanced/save_info" method="POST">
    	<p><label>First Name:</label> <input type="text" name="fname" /></p>
    	<p><label>Last Name:</label> <input type="text" name="lname" /></p>
    	<p><input type="submit" value="Go" /></p>
		</form>

	</body>
</html>